* {
  margin: 10px;
}


.taskbox {
  padding: 4px;
  border: 1px solid black;

}

.addButton {
  border: 1px solid black;
  width: 100px;
  height: 25px;
  border-radius: 8px;
}

table {
  /* background-color: aquamarine; */
  border: 1px solid black;
  width: 90vw;

}

td,
th {
  border: 1px solid black;
  text-align: center;
  padding: 4px;
}

.action-btns{
  display: inline;
  cursor: pointer;
}